body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input {
  font-family: "Poppins", sans-serif;
}

button:hover {
  filter: brightness(90%);
}
